.button {
  font-family: "Jetbrains Mono", sans-serif;
  font-weight: 400;
}

.button.small {
  font-size: 0.8rem;
}

.button.medium {
  font-size: 0.9rem;
}

.button-inside {
  --text-color: #fff;

  display: inline-block;
  position: relative;
  border-radius: 7px;
  padding: 10px 12px 7px;

  background-color: var(--background-color);
  background-image: url("/images/noise.png");
  background-size: 80px 80px;

  text-align: center;
  text-transform: uppercase;
  color: var(--text-color);

  vertical-align: middle;
  line-height: 1;

  box-shadow: inset 1px 1px 1px var(--light-shadow-color),
    inset -1px -1px 1px var(--dark-shadow-color), 2px 2px 4px #000;

  transition-property: transform, background-color, box-shadow;
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.25, 0.5, 0.5, 1);
}

.button-inside.small {
  padding: 8px 10px 5px;
}

.button:active .button-inside {
  transform: scale(0.98);
  background-color: var(--background-color-active);
  box-shadow: inset 0 0 4px #000, inset 1px 1px 1px transparent, inset -1px -1px 1px transparent,
    2px 2px 4px transparent;
}

.button:disabled .button-inside {
  opacity: 0.8;
  pointer-events: none;
}

.button:hover:enabled .button-inside {
  --background-color: var(--hover-color);
}

.button-inside.button-primary {
  --background-color: #fafafa;
  --hover-color: #f0f0f0;
  --background-color-active: #b9b5b3;
  --light-shadow-color: #fafafa;
  --dark-shadow-color: #646464;
  --text-color: #010101;
}

.button-inside.button-secondary {
  --background-color: #353535;
  --hover-color: #2e2e2e;
  --background-color-active: #313030;
  --light-shadow-color: #a7a7a7;
  --dark-shadow-color: #1c1c1c;
}

.button-inside.button-danger {
  --background-color: #f05a22;
  --hover-color: #ee5529;
  --background-color-active: #ee5529;
  --light-shadow-color: #ffb147;
  --dark-shadow-color: #d72d12;
}

.button-inside.light-gray {
  --background-color: #bcbcbc;
  --hover-color: #b1adad;
  --background-color-active: #b1adad;
  --light-shadow-color: #f7f7f7;
  --dark-shadow-color: #646464;
}

.button-inside.gray {
  --background-color: #676767;
  --hover-color: #5e5e5e;
  --background-color-active: #575454;
  --light-shadow-color: #b8b7b5;
  --dark-shadow-color: #383838;
}
